.footer-box {
    border-radius: 1rem;
    border-top-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    background-color: #660000aa;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    padding: 1.5rem;
    // border: 1.5px solid #acacac;
    .box-left {
        color: #dfdfdf;
        .footer-logo {
            max-width: 7rem;
        }
        @media(max-width:768.98px) {
            margin-bottom: 2rem;
        }
    }
    .d-flex {
        gap: 3rem;
        .listbox-footer {
            .list-title {
                color: #dfdfdf;
            }
            .list-footer {
                list-style-type: none;
                padding: 0;
                .item-footer {
                    text-align: left;
                    font-weight: 400;
                    color: #dfdfdf;
                    a {
                        color: #dfdfdf;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}