.row {
  margin-bottom: 2rem;
  .gosh {
    @media (max-width: 768.98px) {
      order: 2;
    }
    .right {
      .post-right {
        padding-bottom: 4px;
        @media (min-width: 768.98px) {
          border-bottom: 2x solid #660000aa;
        }
        .img-right {
          .en-lion {
            border-radius: 8px;
            max-width: 100%;
          }
        }
        .label-right {
          font-family: "Ubuntu", sans-serif;
          font-weight: 500;
          color: #fff;
          text-align: left;
        }
        .title-right {
          font-family: "YB-Heavy";
          font-size: clamp(1.2rem, 2vw, 1.8rem);
          color: #fff;
        }
        .p-right {
          font-family: "YB-Medium";
          font-size: clamp(0.9rem, 1.1vw, 1.4rem);
          margin-bottom: 4px;
          color: #fff;
        }
        .by-right {
          font-family: "Ubuntu", sans-serif;
          font-weight: 500;
          color: #fff;
        }
      }
    }
    .left {
      @media (max-width: 768.98px) {
        padding-top: 12px;
        border-top: 2px solid #660000aa;
      }
      // @media (min-width: 768.98px) {
      //     padding-right: 12px;
      //     border-right: 1.5px solid #acacac;
      //   }
      .post-left {
        .img-left {
          .en-lion {
            border-radius: 8px;
            max-width: 100%;
          }
          .jpn {
            border-radius: 8px;
            max-width: 100%;
            @media (max-width: 768.98px) {
              max-width: 95.5%;
            }
          }
        }
        .post-info-left {
          @media(max-width:768.98px){
            max-width: 65%;
          }
          .label-left {
            font-family: "Ubuntu", sans-serif;
            font-weight: 500;
            color: #fff;
          }
          .title-left {
            font-family: "YB-Heavy";
            font-size: clamp(1.2rem, 2vw, 1.8rem);
            color: #fff;
          }
          .p-left {
            font-family: "YB-Medium";
            font-size: clamp(0.9rem, 1.1vw, 1.4rem);
            margin-bottom: 4px;
            color: #fff;
          }
          .by-left {
            font-family: "Ubuntu", sans-serif;
            font-weight: 500;
            color: #fff;
          }
        }
      }
    }
  }
  .vasat {
    @media (max-width: 768.98px) {
      order: 1;
    }
    @media (min-width: 768.98px) {
      border-left: 2px solid #660000aa;
      border-right: 2px solid #660000aa;
    }
    @media (max-width: 768.98px) {
      padding-top: 10px;
    }
    .middle {
      .post-middle {
        margin-bottom: 0.8rem;

        .img-middle {
          border-radius: 8px;
          max-width: 100%;
        }

        .label-middle {
          text-align: end;
          display: block;
          font-family: "Ubuntu", sans-serif;
          font-weight: 500;
          color: #6f6f6f;
        }
        .title-middle {
          font-family: "YB-Heavy";
          font-size: clamp(1.2rem, 2vw, 1.8rem);
          color: #6f6f6f;
        }
        .p-middle {
          font-family: "YB-Medium";
          font-size: clamp(0.9rem, 1.1vw, 1.4rem);
          margin-bottom: 4px;
          color: #6f6f6f;
        }
        .by-middle {
          font-family: "Ubuntu", sans-serif;
          font-weight: 500;
          color: #6f6f6f;
        }
      }
    }
  }
}
.longNews {
  margin-bottom: 2rem;
  .d-flex {
    gap: 1rem;
    .img-long-box {
      //   padding: 1rem;
      //   border: 3px solid #f09433;
      .img-long {
        display: block;
        max-width: 15rem;
        border-radius: 8px;
        margin: 0 auto;
      }
    }
  }
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
