.navbar {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 20px 0;
  background-color: #181818;
}
@media (max-width: 768.98px) {
  .navbar {
    background-color: rgba(102, 0, 0, 0.6666666667);
  }
}
@media (max-width: 768.98px) {
  .navbar .container-fluid .wof {
    display: none !important;
  }
}
.navbar .container-fluid .wof .navbar-brand {
  color: #dfdfdf;
}
.navbar .container-fluid .woz .navbar-brand {
  color: #dfdfdf;
}
.navbar .container-fluid .navbar-toggler {
  border-style: none !important;
  padding: 0;
}
.navbar .container-fluid .navbar-toggler .logo {
  border-style: none !important;
}
.navbar .container-fluid .offcanvas .offcanvas-body .media .telegram {
  background-color: #0088cc;
  border-radius: 10px;
  padding: 4px 8px;
}
.navbar .container-fluid .offcanvas .offcanvas-body .media .telegram .media-link {
  text-decoration: none;
  color: #fff;
}
.navbar .container-fluid .offcanvas .offcanvas-body .media .instagram {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888",GradientType=1 );
  border-radius: 10px;
  padding: 4px 8px;
}
.navbar .container-fluid .offcanvas .offcanvas-body .media .instagram .media-link {
  text-decoration: none;
  color: #fff;
}
.navbar .container-fluid .offcanvas .offcanvas-body .title-list {
  padding: 20px 0;
  list-style-type: none;
}
.navbar .container-fluid .offcanvas .offcanvas-body .title-list .title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  padding: 6px 8px;
  border-bottom: 1px solid #acacac;
  text-align: left;
}
.navbar .container-fluid .offcanvas .offcanvas-body .title-list .title .title-link {
  text-decoration: none;
  color: #dfdfdf;
}

.header-main {
  background-color: rgba(80, 0, 0, 0.6666666667);
  background-image: linear-gradient(to right, #181818, rgba(51, 0, 0, 0.6666666667), rgba(68, 0, 0, 0.6666666667), rgba(85, 0, 0, 0.6666666667), rgba(85, 0, 0, 0.6666666667), rgba(102, 0, 0, 0.6666666667), rgba(85, 0, 0, 0.6666666667), rgba(85, 0, 0, 0.6666666667), rgba(68, 0, 0, 0.6666666667), rgba(51, 0, 0, 0.6666666667), #181818);
}
@media (max-width: 768.98px) {
  .header-main {
    display: none;
  }
}
.header-main .title-list {
  padding: 20px 0;
  list-style-type: none;
}
.header-main .title-list .title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  padding: 0px 8px;
}
@media (max-width: 991.98px) {
  .header-main .title-list .title {
    padding: 0px 6px;
  }
}
.header-main .title-list .title .title-link {
  text-decoration: none;
  color: #dfdfdf;
}

.row {
  margin-bottom: 2rem;
}
@media (max-width: 768.98px) {
  .row .gosh {
    order: 2;
  }
}
.row .gosh .right .post-right {
  padding-bottom: 4px;
}
@media (min-width: 768.98px) {
  .row .gosh .right .post-right {
    border-bottom: 2x solid rgba(102, 0, 0, 0.6666666667);
  }
}
.row .gosh .right .post-right .img-right .en-lion {
  border-radius: 8px;
  max-width: 100%;
}
.row .gosh .right .post-right .label-right {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #dfdfdf;
  text-align: left;
}
.row .gosh .right .post-right .title-right {
  font-family: "YB-Heavy";
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  color: #dfdfdf;
}
.row .gosh .right .post-right .p-right {
  font-family: "YB-Medium";
  font-size: clamp(0.9rem, 1.1vw, 1.4rem);
  margin-bottom: 4px;
  color: #dfdfdf;
}
.row .gosh .right .post-right .by-right {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #dfdfdf;
}
@media (max-width: 768.98px) {
  .row .gosh .left {
    padding-top: 12px;
    border-top: 2px solid rgba(102, 0, 0, 0.6666666667);
  }
}
.row .gosh .left .post-left .img-left .en-lion {
  border-radius: 8px;
  max-width: 100%;
}
.row .gosh .left .post-left .img-left .jpn {
  border-radius: 8px;
  max-width: 100%;
}
@media (max-width: 768.98px) {
  .row .gosh .left .post-left .img-left .jpn {
    max-width: 95.5%;
  }
}
@media (max-width: 768.98px) {
  .row .gosh .left .post-left .post-info-left {
    max-width: 65%;
  }
}
.row .gosh .left .post-left .post-info-left .label-left {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #dfdfdf;
}
.row .gosh .left .post-left .post-info-left .title-left {
  font-family: "YB-Heavy";
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  color: #dfdfdf;
}
.row .gosh .left .post-left .post-info-left .p-left {
  font-family: "YB-Medium";
  font-size: clamp(0.9rem, 1.1vw, 1.4rem);
  margin-bottom: 4px;
  color: #dfdfdf;
}
.row .gosh .left .post-left .post-info-left .by-left {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #dfdfdf;
}
@media (max-width: 768.98px) {
  .row .vasat {
    order: 1;
  }
}
@media (min-width: 768.98px) {
  .row .vasat {
    border-left: 2px solid rgba(102, 0, 0, 0.6666666667);
    border-right: 2px solid rgba(102, 0, 0, 0.6666666667);
  }
}
@media (max-width: 768.98px) {
  .row .vasat {
    padding-top: 10px;
  }
}
.row .vasat .middle .post-middle {
  margin-bottom: 0.8rem;
}
.row .vasat .middle .post-middle .img-middle {
  border-radius: 8px;
  max-width: 100%;
}
.row .vasat .middle .post-middle .label-middle {
  text-align: end;
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #dfdfdf;
}
.row .vasat .middle .post-middle .title-middle {
  font-family: "YB-Heavy";
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  color: #dfdfdf;
}
.row .vasat .middle .post-middle .p-middle {
  font-family: "YB-Medium";
  font-size: clamp(0.9rem, 1.1vw, 1.4rem);
  margin-bottom: 4px;
  color: #dfdfdf;
}
.row .vasat .middle .post-middle .by-middle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #dfdfdf;
}

.longNews {
  margin-bottom: 2rem;
}
.longNews .d-flex {
  gap: 1rem;
}
.longNews .d-flex .img-long-box .img-long {
  display: block;
  max-width: 15rem;
  border-radius: 8px;
  margin: 0 auto;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.footer-box {
  border-radius: 1rem;
  border-top-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  background-color: rgba(102, 0, 0, 0.6666666667);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 1.5rem;
}
.footer-box .box-left {
  color: #dfdfdf;
}
.footer-box .box-left .footer-logo {
  max-width: 7rem;
}
@media (max-width: 768.98px) {
  .footer-box .box-left {
    margin-bottom: 2rem;
  }
}
.footer-box .d-flex {
  gap: 3rem;
}
.footer-box .d-flex .listbox-footer .list-title {
  color: #dfdfdf;
}
.footer-box .d-flex .listbox-footer .list-footer {
  list-style-type: none;
  padding: 0;
}
.footer-box .d-flex .listbox-footer .list-footer .item-footer {
  text-align: left;
  font-weight: 400;
  color: #dfdfdf;
}
.footer-box .d-flex .listbox-footer .list-footer .item-footer a {
  color: #dfdfdf;
  text-decoration: none;
}

.c-1 .c-11 {
  background: rgba(102, 0, 0, 0.6666666667);
  padding: 0.8rem 0.5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.c-1 .c-11 .c-111 .img-vip-slider .imgSoldier {
  max-width: 100%;
}
.c-1 .c-11 .c-111 .img-vip-slider .imgSoldier .swiper-wrapper {
  max-width: 100%;
  border-radius: 0.8rem;
}
.c-1 .c-11 .c-111 .img-vip-slider .imgSoldier .swiper-wrapper .swiper-slide {
  max-width: 100%;
  border-radius: 0.8rem;
}
.c-1 .c-11 .c-111 .img-vip-slider .imgSoldier .swiper-wrapper .swiper-slide .team-img {
  max-width: 100%;
  border-radius: 1rem;
}
.c-1 .c-11 .c-111 .text-vip-slider .discSoldier .swiper-wrapper .swiper-slide .disc-team {
  color: #dfdfdf;
}
.c-1 .c-12 .c-121 .img-team-slider .imgTeam {
  max-width: 100%;
}
.c-1 .c-12 .c-121 .img-team-slider .imgTeam .swiper-wrapper {
  max-width: 100%;
  border-radius: 0.8rem;
}
.c-1 .c-12 .c-121 .img-team-slider .imgTeam .swiper-wrapper .swiper-slide {
  max-width: 100%;
  border-radius: 0.8rem;
}
.c-1 .c-12 .c-121 .img-team-slider .imgTeam .swiper-wrapper .swiper-slide .team-img {
  max-width: 100%;
  border-radius: 1rem;
}
.c-1 .c-12 .c-121 .text-team-slider .discTeam .swiper-wrapper .swiper-slide .disc-team {
  min-height: 12rem;
  background-color: #181818;
  color: #dfdfdf;
}

body {
  background-color: #181818;
}

footer {
  margin-bottom: 1rem;
}

.img-Sheikh {
  max-width: 100%;
  border-radius: 12px;
}

.list-bad {
  list-style-type: none;
  padding: 0;
}
.list-bad .rooz-bad {
  color: #Dfdfdf;
}

.swiper-button-next::after {
  color: #Dfdfdf;
}

.swiper-button-prev::after {
  color: #Dfdfdf;
}

ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  color: #Dfdfdf;
}/*# sourceMappingURL=style.css.map */